.home-page {
  .intro-text {
    max-height: 90%;
    position: relative;
    transform: translate(0px, 250px);
    font-family: "Hammersmith One";
  }

  h1 {
    color: black;
    font-size: 55px;
    margin: 0;
    font-weight: 800;
  }

  h2 {
    font-size: 23px;
    color: #8d8d8d;
  }

  .flex-item {
    flex: 1;
  }

  .profile-image {
    width: 500px;
    position: relative;
    transform: translate(10px, 60px);
    border: 5px solid silver;
    border-radius: 15px;
  }
}
