.stats {
  /* border: 5px solid silver;
  border-radius: 15px; */
  margin: auto;
  margin-top: 30px;
  max-width: 70%;
  background-color: #ffffff;
  font-family: "Hammersmith One";
  /* h2 {
    text-align: center;
  }

  p {
    margin-left: 30px;
  } */
}
