.work-experience {
  border: 5px solid silver;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-left: 0.5em;
  padding-top: 5px;
}

.work-experience:hover {
  border-color: red;
}

.heading-text {
  font-size: 1.5em;
  color: white;
}

.subheading-text {
  font-size: 1em;
  color: gainsboro;
}

.paragraph-text {
  font-size: 0.875em;
  color: wheat;
}
